---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

Currently, I mainly teach courses on <b>Statistical Programming</b> and <b>Statistical Learning</b> in the 
<a href="https://www.eur.nl/en/master/econometrics">Econometrics Master Programme</a> and in the 
<a href="https://www.eur.nl/en/master/data-science-and-marketing-analytics">Data Science and Marketing Analytics Master</a>
at Erasmus University Rotterdam. Additionally, I teach a PhD course at 
<a href="https://www.eur.nl/en/egsh">Erasmus Graduate School of the Scocial Sciences and Humanities</a>. 
<!--
Here, I focus on the statistical analysis capabilities of the R programming environment (i.e., univariate, grouped and nested as well as multivariate models).
<p style="margin:0;line-height:0;height:17px"></p>
-->
I am also the <b>Master Thesis Coordinator</b> of the 
<a href="https://www.eur.nl/en/master/business-analytics-and-quantitative-marketing">Business Analytics and Quantitative Marketing</a>
track of the Econometrics programme and I regularly supervise (numerous BSc and MSc) theses. 

<p style="margin:0;line-height:0;height:17px"></p>

The full list of my present (and past) courses can be found below. 
Syllabi and course descriptions can be accessed via the embedded links. 
Feel free to use and/or disseminate any of the available materials.

<p style="margin:0;line-height:0;height:42px"></p>

<h1>Supervision</h1>

I am co-promoting the (second year)  PhD candidate <a href="https://businessdatascience.nl/person/1788/markus-mueller">Markus Mueller</a>
together with Prof. Dr. <a href="https://www.eur.nl/people/dennis-fok">Dennis Fok</a> on 
<a href="https://arxiv.org/abs/2312.10431">Denoising Diffusion Probabilistic Neural Networks for mixed type tabular data</a>. 


{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}


